<div id="mappage">

  <div id="googleMap"><!--[if lt IE 9]><img src="/images/attractions/iemapfinished.png"><![endif]--></div>
    
  <div id="legend" class="insets">
    <p id="legendnotice">Click on an attraction for its description below!</p><br/>
    <% @mapAttractions.each do |attraction| %>
      <div class="legendcolorbox" style="background-color:#<%= attraction[:color] %>;"></div><p class="legendtext"><%= attraction[:name] %></p>
    <% end %>
  </div>

  <div id="belowmap">
    <h2>Click on a marker to see more information!</h2>
    <div id="attractioncontent" class="insets"></div>
  </div>

</div>

<script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(43.089639,-79.085011),
  zoom:12,
  mapTypeId:google.maps.MapTypeId.ROADMAP,
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

markers = new Array();
var pos = 0;

var infowindow = new google.maps.InfoWindow({content: "blank"});
<% @mapAttractions.each do |attraction| %>
  <% if attraction.latitude != nil && attraction.longitude != nil %>
    var marker = new StyledMarker({
      styleIcon: new StyledIcon(StyledIconTypes.MARKER,{color:"<%= attraction[:color] %>",/* text:"<%= attraction[:marker_label] %>" */}),
      position: new google.maps.LatLng(<%= attraction[:latitude] %>, <%= attraction[:longitude] %>),
      map: map,
      title: "<%= attraction[:name] %>",
      id: "<%= attraction[:id] %>",
      animation: google.maps.Animation.DROP,
      <% infoheader = "<a href='javascript:scrollToContent(" + attraction[:id].to_s + ")'>" + attraction[:name] + "</a>" %>
    }); 
    markers[pos++] = marker;
    google.maps.event.addListener(marker,"click",function(){
      infowindow.close();
      infowindow.setContent("<%= infoheader.html_safe %>");
      infowindow.setOptions({maxWidth: "500"});
      infowindow.open(map,this);
    });
    $(marker).click(function(){
      infowindow.close();
      infowindow.setContent("<%= infoheader.html_safe %>");
      infowindow.setOptions({maxWidth: "500"});
      infowindow.open(map,this);
    });
  <% end %>
<% end %>

var marker = new google.maps.Marker({
    position: new google.maps.LatLng(43.157851,-79.101959),
    title: "North to Niagara-on-the-Lake",
    icon: {
      path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
      scale: 10
    },
    map: map
  });
}

$(".legendcolorbox").click(function() {
  temp = this;
  markers.forEach(function(entry){
    if (entry.title == $(temp).next().text()) {
      $(entry).click();
      $("#attractioncontent").show();
      $("#attractioncontent").load("getAttraction?id=" + entry.id);
    }
  });
});

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script>
function scrollToContent(id) {
  $("#attractioncontent").show();
  $("#attractioncontent").load("getAttraction?id=" + id, function(){window.scrollBy(0,$("#attractioncontent")[0].getBoundingClientRect().bottom - $(window.top).height() + 4);});
}
</script>

<script>
if(<%= @id %> != null && <%= @id %> != "") {
  scrollToContent(<%= @id %>)
}
</script>

<script>
$("#googleMap").css("height",$("#legend").css("height"));
</script>

<script>
$(".legendtext").each(function(entry){
  if($($(".legendtext")[entry]).text().indexOf("Jellystone") >= 0){
    $($(".legendtext")[entry]).css("font-weight","bold");
  }
});
</script>

<!--[if lt IE 9]>
  <script>
    $("#belowmap").hide();
    $("#legend").hide();
    $("#mappage").css("height","600px");
  </script>
<![endif]-->