<script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(43.089639,-79.085011),
  zoom:12,
  mapTypeId:google.maps.MapTypeId.ROADMAP,
};

var map=new google.maps.Map(document.getElementById("googleMap")
  ,mapProp);

var infowindow = new google.maps.InfoWindow({content: "blank"});
<% @mapAttractions.each do |attraction| %>
  <% if attraction.latitude != nil && attraction.longitude != nil %>
    var marker = new StyledMarker({
      styleIcon: new StyledIcon(StyledIconTypes.BUBBLE,{color:"<%= attraction[:color] %>",text:"<%= attraction[:marker_label] %>"}),
      position: new google.maps.LatLng(<%= attraction[:latitude] %>, <%= attraction[:longitude] %>),
      map: map,
      title: "<%= attraction[:attraction_name] %>",
      animation: google.maps.Animation.DROP
      <% infoheader = '<p>' + attraction.attraction_name + '</p>' %>
      <% if attraction.content != nil && attraction.content.content_link != nil %>
      <% infoheader = "<a target='_blank' href='" + attraction.content.content_link + "'>" + infoheader + "</a>" %>
      <% end %>
    }); 
    google.maps.event.addListener(marker,"click",function(){
      infowindow.close();
      infowindow.setContent("<%= infoheader.html_safe %>");
      infowindow.setOptions({maxWidth: "500"});
      infowindow.open(map,this);
    });
  <% end %>
<% end %>

var marker = new google.maps.Marker({
    position: new google.maps.LatLng(43.157851,-79.101959),
    title: "North to Niagara-on-the-Lake",
    icon: {
      path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
      scale: 10
    },
    map: map
  });


}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="mapbox">
  <div id="googleMap"><!--[if lt IE 9]><img src="/images/attractions/iemapfinished.png"><![endif]--></div>
  <h2>Click on a marker to see more information!</h2>
</div>

<style>
div#mapbox {
  width: 1024px;
  height: 900px;
  background-color: #008F47;
}
#mapbox p {
  text-align: center;
  width: 150px;
}
#mapbox h2 {
  text-align: center;
}
</style>