<script type="text/javascript">
	function setVisible (name, num) {
		if(num == 0){
			$(name).css("visibility","hidden");
		};
	};

	temp = new Array();
	<% count = 0 %>
	<% @currMonthEvents.each do |e| %>
		<% if e.picture != nil %>
			temp[<%= count %>] = "<%= e.picture[:file] %>";
			<% count = count + 1 %>
		<% end %>
	<% end %>
	preloadImages(temp);
</script>



<% colorArray = ['transparent','#FF6666','#66FF66','#6666FF','#66FFFF','#FF66FF','#FFFF66','#FF9900','#00FF99','#9900FF','#00FF00'] %>
<div id="calendarcontainer">
<div id="leftcontent" class="insets">
	<div id="eventhead">
	<h3 id="eventtitle">EVENT</h3>
	</div>
	<div id="eventbody">
		<h4 id="etitle">Click an event for more details</h4>
		<img id="epic" src="" alt="">
		<p id="edesc"></p>
	</div>
</div>
<% a = Array.new(32,0) %>
<% b = Array.new(32,0) %>
<% text = Array.new(33,' ') %>
<% othertext = Array.new(33,' ') %>
<% if @currMonthEvents != nil %>
	<% colorNum = 1 %>
	<% @currMonthEvents.each do |cme| %>
	<% colorArray[colorNum] = cme[:color] %>
		<% words = cme[:name].split(/\s/).delete_if(&:blank?) %>
		<% words.each do |w| %>
			<% w.gsub!("_"," ") %>
		<% end %>
		<% if cme[:start_date].to_date.month != @currDate.to_date.month %>
			<% startDate = @currDate.beginning_of_month %>
		<% else %>
			<% startDate = cme[:start_date] %>
		<% end %>
		<% if cme[:end_date].to_date.month != @currDate.to_date.month %>
			<% endDate = @currDate.end_of_month %>
		<% else %>
			<% endDate = cme[:end_date] %>
		<% end %>
		<% days = endDate.mday - startDate.mday + 1 %>
		<% count = 0 %>
		<% temp = a %>
		<% temptext = text %>
		<% if a[startDate.mday] != 0 %>
		<% temp = b; %>
		<% temptext = othertext %>
		<% end %>
		<% days.times do %>
		<% temp[startDate.mday + count] = colorNum %>
		<% temptext[startDate.mday + count] = words[count] || "" %>
		<% count = count + 1 %>
		<% end %>
		<% colorNum = colorNum + 1 %>
	<% end %>
<% end %>

<% month = ["January","February","March","April","May","June","July","August","September","October","November","December"] %>
<div id="calendar">
	<div class="buttondiv"><img id="bleft" class="calendarbutton" src="/Button2.png" alt="buttonleft" onclick="change(-1)"></div>
	<div id="monthname">
		<h2><%= month[@currDate.month-1] + " " + @currDate.year.to_s %></h2>
	</div>
	<div class="buttondiv"><img id="bright" class="calendarbutton" src="/Button.png" alt="buttonright" onclick="change(1)"></div>
<script>
	function change (num) {
		if(num == 1){
			window.location.href = "/calendar/<%= @currDate >> 1 %>";
		} else if(num == 0) {
			window.location.href = "/calendar"
		} else if(num == -1) {
			window.location.href = "/calendar/<%= @currDate >> -1 %>";
		}
	}
</script>
<table id="months">
	<tbody>
		<tr><th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th></tr>
		<tr>
			<% colcount = 0 %>
			<% @currDate.wday.times do %>
				<td class="hidden"><div class="day"></div></td>
				<% colcount = colcount + 1 %>
			<% end %>
			<% @currDate.upto(@currDate.end_of_month) do |day| %>
				<td style="height:<%= @height %>px">
					<div class="day"><p><%= day.to_date.mday %></p></div>
					<div class="spacer"></div>
					<div id="a<%= day.to_date.mday%>" class="a" style="background-color: <%= colorArray[a[day.mday]] %>"
						data-event-number="<%= a[day.mday]-1 %>"><%= text[day.mday] %></div>
					<div id="b<%= day.to_date.mday%>" class="b" style="background-color: <%= colorArray[b[day.mday]] %>"
						data-event-number="<%= b[day.mday]-1 %>"><%= othertext[day.mday] %></div>
					<script type="text/javascript">setVisible("#a<%= day.to_date.mday%>","<%= a[day.mday] %>")</script>
					<script type="text/javascript">setVisible("#b<%= day.to_date.mday%>","<%= b[day.mday] %>")</script>
				</td>
				<% colcount = colcount + 1 %>
				<% if colcount == 7 && day.mday != day.end_of_month.mday %>
					</tr><tr>
					<% colcount = 0 %>
				<% end %>
			<% end %>
		</tr>

		<script type="text/javascript">	
		var c;
		$(".a").hover(
			function() {
				c = this.style.backgroundColor;
				$(".a").each(function() {
					if(this.style.backgroundColor == c) {
						this.style.backgroundImage = "url('/darken.png')";
					}
				});	
			}, 
			function() {
				$(".a").each(function() {
					if(this.style.backgroundColor == c) {
						this.style.backgroundImage = "none";
					}
				});
			}
			);
		$(".b").hover(
			function() {
				c = this.style.backgroundColor;
				$(".b").each(function() {
					if(this.style.backgroundColor == c) {
						this.style.backgroundImage = "url('/darken.png')";
					}
				});	
			}, 
			function() {
				$(".b").each(function() {
					if(this.style.backgroundColor == c) {
						this.style.backgroundImage = "none";
					}
				});
			}
			);
		</script>
	</tbody>
</table>
</div>
</div>

<script type="text/javascript">
var temp;
$(".a").click(function(){
	date = "<%= @currDate %>"
	num = $(this).data("event-number");
	info = $.get("/getData?date=" + date + "&num=" + num,function(data){
		$("#etitle").text(data["event"]["name"].split("_").join(" "));
		$("#edesc").text(data["event"]["text"]);
		$("#epic")[0].src = "";
		if (data["picture"] != undefined) {
			$("#epic")[0].src = data["picture"];
		}
	}, "json");
})
$(".b").click(function(){
	date = "<%= @currDate %>"
	num = $(this).data("event-number");
	info = $.get("/getData?date=" + date + "&num=" + num,function(data){
		$("#etitle").text(data["event"]["name"].split("_").join(" "));
		$("#edesc").text(data["event"]["text"]);
		$("#epic")[0].src = "";
		if (data["picture"] != undefined) {
			$("#epic")[0].src = data["picture"];
		}
	}, "json");
})
</script>