<style type="text/css">
/* Stylings to override Image Gallery styling in jellystoneniagara.css */
#facilitycontainer {
	width: 900px;
}
#gallery {
	height: 690px;
}
#gallery span{
	height: 470px;
}
#gallery img {
	max-height: 470px;
}
#facilitydesc {
	height: 120px;
}
/* Larger values are for four images frames across.  Smaller are for five. */
.gimg {
	/* width: 140px; 
	height: 140px; */
	width: 175px; 
	height: 175px;
	top: 30px;
	left: 30px;
}
.gpic {
	/* width: 180px; 	
	height: 180px; 
	background-size: 190px 190px; */
	width: 225px;
	height: 225px;	
	background-size: 235px 235px;
}
#img {
	margin: 10px auto;
}
</style>

<h1 class="pagetitle">Facilities</h1>
<h3 class="pagetitle">Click on a thumbnail to see a larger image!</h3>

<% @dir = "left" %>
<% def swapDir() %>
<% dirh = {:left => "right", :right => "left"}%>
<% @dir = dirh[@dir.to_sym] %>
<% end %>

<div id="facilitycontainer">
	<% count = 0 %>
	<% @facilities.each do |facility| %>
	<div class="gpic <%= @dir %>"><img class="gimg" src="<%= facility.picture[:file] %>" data-index=<%= count %>></div>
	<% count = count + 1 %>
	<% swapDir() %>
	<% end %>
	<div id="facilityspacer" class="clear"></div>
</div>

<div id="blackout">
	<div id="gallery">
		<img id="gclose" src="images/footer/close.png">
		<div id="facilityname"></div>
		<img id="gleftarrow" class="arrow" src="/images/slider/leftarrow.png">
		<span></span>
		<img id="img" src="" alt="galleryimage">
		<img id="grightarrow" class="arrow" src="/images/slider/rightarrow.png">
		<div id="facilitydesc"></div>
	</div>
</div>

<script type="text/javascript">
var info = new Array();
var picindex = 0;

info =
	[
	<% @facilities.each do |f| %>
	{
		name: "<%= f[:name].html_safe %>",
		desc: "<%= f[:description].html_safe %>",
		pic: "<%= f.picture.file %>"
	}
		<% if f != @facilities.last %>
			, 
		<% end %>
	<% end %>
	]

function centerImage(){
	//$($("#gallery img")[0]).css("top", (470 - $($("#gallery img")[0]).height()) / 2 + "px");
}

function closeit(){
	$(".gimg").bind("click",imgSelect);
	$("#blackout").hide();
	console.log("-----------------closed-----------------");
}

function imgSelect(){
	$(".gimg").unbind("click");
	picindex = $(this).data("index");
	console.log("-----------------opened-----------------");
	console.log(picindex);
	$("#img")[0].src = info[picindex].pic;
	$("#facilityname").text(info[picindex].name);
	$("#facilitydesc").html(info[picindex].desc);
	$("#blackout").show();
	centerImage();
}

$("#gleftarrow").click(function(){
	picindex = (picindex-1);
	if(picindex == -1){
		picindex = info.length - 1;
	}
	console.log(picindex);
	$("#img")[0].src = info[picindex].pic;
	$("#facilityname").text(info[picindex].name);
	$("#facilitydesc").html(info[picindex].desc);
	centerImage();
});

$("#grightarrow").click(function(){
	picindex = (picindex+1) % info.length;
	console.log(picindex);
	$("#img")[0].src = info[picindex].pic;
	$("#facilityname").text(info[picindex].name);
	$("#facilitydesc").html(info[picindex].desc);
	centerImage();
});



$(".gimg").click(imgSelect);
$("#gclose").click(closeit);
addEventListener("click",function(event){
	if(event.target.id == "blackout" || event.target.id == "gclose"){
		closeit();
	}
});
</script>
<script>
disableSelection($("#gallery")[0]);
disableSelection($("#gallery img")[0]);
</script>