<script type="text/javascript">
	function setVisible (name, num) {
		if(num == 0){
			$(name).css("visibility","hidden");
		};
	}
</script>
<style type="text/css">
#leftcontent {
	background-color: orange;
	width:250px;
	float:left;
	height:800px;
	margin-left: auto;
}
#calendar {
	background-color: yellow;
	width:990px;
	float:left;
	height:800px;
	margin-right: auto;
}
#description {
	background-color: magenta;
	width:1240px;
	float:left;
	margin: 0 auto;
	height: 300px;
}
#calendarcontainer {
	margin: 0px auto;
	width:1240px;
	height:1000px;
}
</style>
<div id="calendarcontainer">
<style type="text/css">
#eventhead {
	height:10%;
	width:100%;
}
#eventbody {
	height:90%;
	width:100%;
}
#eventtitle {
	font-size: 50px;
	text-align: center;
}
#eventdetails {
	padding:5px;
	list-style-type: none;
}
#eventdetails li {
	padding: 3px;
}
#eventdetails a {
	color:inherit;
}
#eventdetails .title {
	font-size: 22px;
	font-weight: bold;
	float:left;
}
#eventdetails .description {
	font-size:22px;
}
</style>
<% colorArray = ['transparent','red','blue','green','cyan','magenta','yellow','orange','lime'] %>
<div id="leftcontent">
	<div id="eventhead">
	<h3 id="eventtitle">EVENTS</h3>
	</div>
	<div id="eventbody">
		<ul id="eventdetails">
			<% if @currMonthEvents != nil %>
			<% count = 1 %>
			<% @currMonthEvents.each do |cme| %>
				<li style="color:<%= colorArray[count]%>">
					<p class="title">
						<% if cme[:event_link] != nil %>
						<a id="link" href="<%=cme[:event_link]%>"><%= cme[:event_name]%></a>:
						<% else %>
						<%= cme[:event_name] %>:
						<% end %>
					</p>
					<p class="description">
						&nbsp;<%= cme[:event_tag] %>
					</p>
				</li>
				<% count = count + 1 %>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<style type="text/css">
#months {
	border: 5px solid black;
	padding:0px;
	width: 100%;
	height:90%;
	border-spacing:0px;
	table-layout: fixed;

}
#months th {
	height: 40px;
	border: 5px solid black;
	background-color: cyan;
}
#months td {
	border: 2px solid black;
	padding: 1px;
	height:<%= @height %>px;
	vertical-align: top;
	background-color: #eee;
}
#months .day {
	margin:1px 5px 3px 1px;
	border: 1px solid black;
	padding:1px;
	min-width: 9%;
	float:left;
	background-color:#fff;
}
#monthname {
	text-align: center;
	float:left;
	height:80px;
	width:830px;
}
#monthname h2 {
	font-size:60px;
}
#buttondiv {
	height:80px;
	width:80px;
	background-color: brown;
	float:left;
	overflow: hidden;
}
#button {
	position:relative;
	height:160px;
	width:80px;
}
.bleft:hover {
	bottom:80px;
	cursor:pointer;
}
.bright:hover {
	bottom:80px;
	cursor:pointer;
}
.hidden {
	visibility: hidden;
}
#a {
	width:140px;
	height:25%;
	position: relative;
	right:3px;
	cursor:pointer;
}
#b {
	width:140px;
	height:25%;
	position: relative;
	right:3px;
	cursor:pointer;
}
#c {
	width:140px;
	height:25%;
	position: relative;
	right:3px;
	cursor:pointer;
}
#spacer {
	width:100%;
	height:25%;
}
</style>
<% a = Array.new(32,0) %>
<% b = Array.new(32,0) %>
<% c = Array.new(32,0) %>
<% if @currMonthEvents != nil %>
	<% colorNum = 1 %>
	<% @currMonthEvents.each do |cme| %>
		<% if cme[:event_start_date].to_date.month != @currDate.to_date.month %>
			<% startDate = @currDate.beginning_of_month %>
			<% puts "1" %>
		<% else %>
			<% startDate = cme[:event_start_date] %>
			<% puts "2" %>
		<% end %>
		<% if cme[:event_end_date].to_date.month != @currDate.to_date.month %>
			<% endDate = @currDate.end_of_month %>
			<% puts "3" %>
		<% else %>
			<% endDate = cme[:event_end_date] %>
			<% puts "4" %>
		<% end %>
		<% puts "Start: #{startDate}, End: #{endDate}" %>
		<% days = endDate.mday - startDate.mday + 1 %>
		<% count = 0 %>
		<% temp = a %>
		<% if temp[startDate.mday] != 0 %>
			<% temp = b %>
			<% puts "5" %>
		<% elsif temp[startDate.mday] != 0%>
			<% temp = c %>
			<% puts "6" %>
		<% end %>
		<% days.times do %>
		<% temp[startDate.mday + count] = colorNum %>
		<% count = count + 1 %>
		<% puts "7" %>
		<% end %>
		<% colorNum = colorNum + 1 %>
	<% end %>
<% end %>

<% month = ["January","February","March","April","May","June","July","August","September","October","November","December"] %>
<div id="calendar">
	<div id="buttondiv"><img id="button" class="bleft" src="/Button2.png"></div>
	<div id="monthname">
		<h2><%= month[@currDate.month-1] %></h2>
	</div>
	<div id="buttondiv"><img id="button" class="bright" src="/Button.png"></div>
<table id="months">
	<tbody>
		<tr><th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th></tr>
		<tr>
			<% colcount = 0 %>
			<% @currDate.wday.times do %>
				<td class="hidden"><div class="day"></div></td>
				<% colcount = colcount + 1 %>
			<% end %>
				<% @currDate.upto(@currDate.end_of_month) do |day| %>
					<td><div class="day"><p><%= day.to_date.mday %></p></div>
						<div id="spacer"></div>
						<div id="a" class="a<%= day.to_date.mday%>" style="background-color: <%= colorArray[a[day.mday]] %>" ></div>
						<div id="b" class="b<%= day.to_date.mday%>" style="background-color: <%= colorArray[b[day.mday]] %>"></div>
						<div id="c" class="c<%= day.to_date.mday%>" style="background-color: <%= colorArray[c[day.mday]] %>"></div>
						<script type="text/javascript">setVisible(".a<%= day.to_date.mday%>","<%= a[day.mday] %>")</script>
						<script type="text/javascript">setVisible(".b<%= day.to_date.mday%>","<%= b[day.mday] %>")</script>
						<script type="text/javascript">setVisible(".c<%= day.to_date.mday%>","<%= c[day.mday] %>")</script>
					</td>
					<% colcount = colcount + 1 %>
				<% if colcount == 7 && day.mday != day.end_of_month.mday %>
					</tr><tr>
					<% colcount = 0 %>
				<% elsif day.mday == day.end_of_month.mday %>
					</tr>
				<% end %>
			<% end %>
		</tr>



		<!-- 
		<tr><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td></tr>
		<tr><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td></tr>
		<tr><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td></tr>
		<tr><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td></tr>
		<tr><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td></tr>
		<tr><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td><td><div class="day">1</div>TEST!!!!</td></tr>
		-->


		<!-- 
		colorNum is the number for the current event color
		startDate is the start date of the event in the month
		endDate is the end date of the event in the month
		-->
		


				

	</tbody>
</table>
</div>
<style type="text/css">
#dTitle{
	width:750px;
	height:50px;
	background-color: olive;
	margin: 10px;
	float:left;
}
#dTitle h4 {
	font-size:40px;
	color:beige;
}
#dLink {
	width:350px;
	height:40px;
	background-color: teal;
	float:right;
	margin: 10px;
}
#dLink p {
	font-size:34px;
}
#dLink a {
	color:beige;
}
#dImage {
	width:200px;
	height:200px;
	background-color: royalblue;
	margin:10px 100px;
	clear:left;
}
#dImage img {
	width:200px;
	height:200px;
}
#dText {
	width:800px;
	height:200px;
	background-color: coral;
	float:right;
	margin:0px 10px;
	text-align: left;
	font-size:20px;
}
#colorBox {
	width:50px;
	height:50px;
	background-color: red;
	margin: 10px;
	float:left;
}
</style>
<div id="description">
	<% if @currMonthEvents.empty? == false %>
		<div id="dLink">
			<% if @currMonthEvents.first != nil && @currMonthEvents.first[:event_link] != nil %>
				<a class="link" href="<%= @currMonthEvents.first[:event_link] %>"><p class="linkText">Get More Information</a>
			<% end %>
		</div>
		<div id="colorBox"> </div>
		<div id="dTitle">
			<h4><%= @currMonthEvents.first[:event_name] %></h4>
		</div>
		<div id="dText">
			<p><%= @currMonthEvents.first[:event_text] %><p>
		</div>
		<div id="dImage">
			<% if @currMonthEvents.first.picture != nil %>
				<img class="image" src="<%= @currMonthEvents.first.picture.picture_file %>">
			<% end %>
		</div>
	<% end %>
</div>
</div>