<script>
function adjustColor(color, num) {
	$($(".tourbox")[num]).find(".tourbar, .dealbar").css("background-color",lightenHex(color,0.2));
	$($(".tourbox")[num]).find(".dealbar").css("background-color",lightenHex(color,0.2));
}
</script>

<h1 class="pagetitle">Tours and Shuttles</h1>

<% count = 0 %>
<% @tours.each do |tour| %>
<div class="tourbox" style="background-color:<%= tour[:color] %>;">
	<h2 class="pagetitle"><%= tour[:name] %></h2>
	<div class="tourinfo">
		<img class="tourlogo" src="<%= tour.picture.file %>" alt="<%= tour.picture.description %>"></img>
		<p><%= tour[:description].html_safe %></p>
	</div>
	<div class="tourstops">
		<% tour.contents.each do |content| %>
		<div class="tourbar" style="background-color:<%= tour[:color] %>;"><h2><%= content[:name] %></h2><div class="dropdown"></div></div>
		<div class="tourcontent">
			<img src="<%= content.picture.file %>">
			<p><%= content[:text] %></p>
		</div>
		<% end %>
	</div>
	<% if tour[:coupon_desc] != nil && tour[:coupon_desc] != "" %>
	<div class="tourdeals">
		<div class="dealbar"><h2>Deals & Coupons</h2><div class="dropdown"></div></div>
		<div class="dealcontent" style="width: 750px; height: 200px;"><%= tour[:coupon_desc] %></div>
	</div>
	<% end %>
	<div class="tourspacer"></div>
</div>
<script>
adjustColor('<%= tour[:color] %>',<%= count %>);
</script>
<% count = count + 1 %>
<% end %>

<script>
function tourDropdown(){
	$(".tourbar, .dealbar").unbind("click");
	opened = $(".open")[0];
	clicked = this;
	if(clicked == opened){
		switchArrow(clicked);
		$(clicked).next().slideToggle(1000,function(){
			$(clicked).removeClass("open");
			$(".tourbar, .dealbar").bind("click",tourDropdown);
		});
	} else if(opened == undefined){
		switchArrow(clicked);
		$(clicked).next().slideToggle(1000,function(){
			$(clicked).addClass("open");
			$(".tourbar, .dealbar").bind("click",tourDropdown);
		});
	} else {
		switchArrow(clicked);
		switchArrow(opened);
		$(clicked).next().slideToggle(1000,function(){
			$(clicked).addClass("open");
		});
		$(opened).next().slideToggle(1000,function(){
			$(opened).removeClass("open");
			$(".tourbar, .dealbar").bind("click",tourDropdown);
		});
	}
}

$(".tourbar, .dealbar").click(tourDropdown);	

$(".tourbar, .dealbar").each(function(){
	disableSelection(this);
});
</script>

<%= render :partial => '/layouts/content' %>