<% @dir = "left" %>
<% def swapdir() %>
<% dirh = {:left => "right", :right => "left"}%>
<% @dir = dirh[@dir.to_sym] %>
<% end %>
<% @contentRecs.each do |contentRec|%>

<div class="bar"><h2><%= contentRec[:name].gsub("(tm)","&#8482").html_safe %></h2><img class="dropdown" src="/images/slider/leftarrow.png"></div>	
	<div class="content insets">
		<div class="content<%= @dir %>">
			<% if contentRec[:subheader] != nil && contentRec[:subheader] != "" %>
				<h3><%= contentRec[:subheader] %></h3>
			<% end %>
			<% if contentRec.picture != nil %>
				<img src= <%= contentRec.picture.file %> alt="<%= contentRec.picture.description %>">
			<% end %>
			<p><%= contentRec[:text].gsub("(tm)","&#8482").html_safe %></p> 					
		</div>
		<% if contentRec[:link] != nil && contentRec[:link] != "" %>
			<a class="<%= @dir %>link contentlink" target="_blank" href="<%= contentRec[:link] %>"><%= contentRec[:link_text] %></a>
		<% end %>
	</div>
	
	<% if @alternate then swapdir() end %>
<% end %>

<script>
var firstClick = true;
function toggleDropdown(){
	if(firstClick == false){
		if($(this).next().css("display") == "none"){
			$('html, body').animate({scrollTop: $(window).scrollTop() + this.getBoundingClientRect().top - 180}, 1000);
		} else {
			$('html, body').animate({scrollTop: $(window).scrollTop() + this.getBoundingClientRect().top - 180}, 1000);
		}
	} else {
		firstClick = false;
	}
	$(this).unbind('click');
	switchArrow(this);
	$(this).next().slideToggle(1000,function(){
		$(this).prev().bind('click',toggleDropdown);
	});	
}
</script>

<script>
function switchArrow(bar) {
	if($(bar).find(".dropdown").attr("src").search("downarrow") != -1) {
		$(bar).find(".dropdown").attr("src","/images/slider/leftarrow.png");
	}
	else {
		$(bar).find(".dropdown").attr("src","/images/slider/downarrow.png");
	}
}
</script>

<script type="text/javascript">
$(".bar").click(toggleDropdown);
</script>

