<% @bg = "wood" %>
<% @dir = "left" %>
<% def swapbg() %>
<% bgh = {:wood => "bearpaws1", :bearpaws1 => "wood"} %>
<% @bg = bgh[@bg.to_sym] %>
<% end %>
<% def swapdir() %>
<% dirh = {:left => "right", :right => "left"}%>
<% @dir = dirh[@dir.to_sym] %>
<% end %>
<% @contentRecs.each do |contentRec|%>

<div class="bar"><h2><%= contentRec[:name].gsub("(tm)","&#8482").html_safe %></h2><div class="dropdown"></div></div>	
	<div class="content <%= @bg %>">
		<div class="content<%= @dir %>">
			<% if contentRec[:subheader] != nil && contentRec[:subheader] != "" %>
				<h3><%= contentRec[:subheader] %></h3>
			<% end %>
			<% if contentRec.picture != nil %>
				<img src= <%= contentRec.picture.file %> alt="<%= contentRec.picture.description %>">
			<% end %>
			<p><%= contentRec[:text].gsub("(tm)","&#8482").html_safe %></p> 					
		</div>
		<% if contentRec[:link] != nil && contentRec[:link] != "" %>
			<a class="<%= @dir %>link" href="<%= contentRec[:link] %>"><%= contentRec[:link_text] %></a>
		<% end %>
	</div>


	<% swapbg() %>
	<% if @alternate then swapdir() end %>
<% end %>

<script>
var firstClick = true;
function toggleDropdown(){
	if(firstClick == false){
		if($(this).next().css("display") == "none"){
			$('html, body').animate({scrollTop: $(window).scrollTop() + this.getBoundingClientRect().top - 180}, 1000);
		} else {
			$('html, body').animate({scrollTop: $(window).scrollTop() + this.getBoundingClientRect().top - 180}, 1000);
		}
	} else {
		firstClick = false;
	}
	$(this).unbind('click');
	switchArrow(this);
	$(this).next().slideToggle(1000,function(){
		$(this).prev().bind('click',toggleDropdown);
	});	
}
</script>

<script>
function switchArrow(bar) {
	if($(bar).find(".dropdown").css("background-image").search("downarrow") != -1) {
		$(bar).find(".dropdown").css("background-image","url('/images/slider/leftarrow.png')");
	}
	else {
		$(bar).find(".dropdown").css("background-image","url('/images/slider/downarrow.png')");
	}
}
</script>

<script type="text/javascript">
$(".bar").click(toggleDropdown);
</script>

