<div id="sitecolor"></div>
<div id="sitename"><h3> <%= @parkMapInfo[:name].gsub("(tm)","&#8482").html_safe %> </h3></div>
<% if (12..15).cover?(@parkMapInfo[:id]) %>
<div id="sitelink"><a href="lodging/moreinfo/<%= @parkMapInfo[:id] %>">More Info</a></div>
<% else %>
<div id="sitelink"><a href="lodging/rvcampsites?id=<%= @parkMapInfo[:id] %>">More Info</a></div>
<% end %>
<div class="clear"></div>
<img id="picture" src="<%= @picture[:file] %>">
<div id="description"> <%= @parkMapInfo[:desc_long].gsub("(tm)","&#8482").html_safe %></div>

</div>