<!DOCTYPE html>
<head>

	<meta name="keywords" content="Jellystone, Niagara, Falls, Campground, RV, Trailer, Park">
	<meta name="description" content="Website redesign page for Jellystone Park Niagara">

	<% if @title != nil %>
	<title><%= @title %> - Jellystone Park Niagara</title>
	<% else %>
	<title>Jellystone Park Niagara</title>
	<% end %>

	<script src="/javascript/jquery.min.js"></script>
	<script src="/javascripts/main.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBYfuTrP32VMyo7wXy6XWTcUoRdhgQuuPU&sensor=false"></script>
	<script src="/javascripts/StyledMarker.js"></script>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/navbar.css">
	<link rel="stylesheet" href="/stylesheets/jellystoneniagara.css">
	<!--[if lt IE 9]>
	<script src="/javascripts/html5shiv.js"></script>
	<link rel="stylesheet" href="/stylesheets/IE.css">
	<![endif]-->

</head>

<body>

	<noscript><div>JavaScript is not enabled.  Some page elements may not function correctly.</div></noscript>

	<div id="whitespace"></div>

	<%= render :partial => '/layouts/header' %>

	<script>
		$("#reservation").click(toggleReservation);
		disableSelection(document.getElementById('reservation'));
		disableSelection(document.getElementById('navencap'));
	</script>

	<% if @renderSlider == true %>
	<%= render :partial => '/layouts/slider'%>
	<% end %>

	<%= yield %>

	<div id="shadowspacer"></div>

	<%= render :partial => '/layouts/footer' %>

	<script type="text/javascript">
	$(".bar").each(function(){
		disableSelection(this);
	});
	</script>

</body>

