<!DOCTYPE html>
<head>

	<meta charset="utf-8">
	<meta name="keywords" content="Jellystone, Niagara, Falls, Campground, RV, Trailer, Park">
	<meta name="description" content="Website redesign page for Jellystone Park Niagara">

	<% if @title != nil %>
	<title><%= @title %> - Jellystone Park Niagara</title>
	<% else %>
	<title>Jellystone Park Niagara</title>
	<% end %>

	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/main.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBYfuTrP32VMyo7wXy6XWTcUoRdhgQuuPU&amp;sensor=false"></script>
	<script src="/javascripts/StyledMarker.js"></script>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/navbar.css">
	<link rel="stylesheet" href="/stylesheets/jellystoneniagara.css">
	<link rel="stylesheet" href="/stylesheets/miniSliderBar.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/calendar-styles.css">
	<script src="/javascripts/miniSlider.js"></script>
	<!--[if lt IE 9]>
	<style>
		.photo {
			background: "none";
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/test/Jellystone_GalleryPic.png',sizingMethod='scale');
		}
		#sliderbox {
			background: "none";
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/slider/JellystoneTOPImageNoLogo.jpg',sizingMethod='scale');
		}
		#chase {
			background: "none";
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/footer/chase.png',sizingMethod='scale');
		}
	</style>
	<![endif]-->
	<script src="/javascripts/html5shiv.js"></script>

</head>

<body>

	<%= render :partial => '/layouts/header' %>

	<noscript><div>JavaScript is not enabled.  Some page elements may not function correctly.</div></noscript>

	<script>
		$("#reservation").click(toggleReservation);
		disableSelection(document.getElementById('reservation'));
		disableSelection(document.getElementById('navencap'));
	</script>

	<% if @renderSlider == true %>
		<% begin %>
			<%= render :partial => '/layouts/slider'%>
		<% rescue %>
			<% puts "\033[1;31m Error finding specified folder for slider images.\033[0m\n" %>
		<% end %>
	<% end %>

	<div id="wrapper">

		<%= yield %>

		<div id="footerspacer"></div>

		<%= render :partial => '/layouts/footer' %>

	</div>

	<script type="text/javascript">
	$(".bar").each(function(){
		disableSelection(this);
	});
	</script>

</body>

